{% extends 'base.html' %}


{% block title %} | Home {% endblock %}
{% block content %}


{% load static %}

{% include 'includes/messages.html' %}


<div id="carouselExampleIndicators" class="carousel carousel-container slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="{% static 'img/dog13.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/dog12.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/dog11.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="Team-container">
    <div class="row">
        <div class="col-12 center">
            <div class="team-header">
                <h1>The Team</h1>
            </div>
        </div>
    </div>
    <div class="row">
        {% for team in teams %}
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card team-card" style="width: 18rem;">
                <img src="{{team.photo.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{team.first_name}} {{team.last_name}}</h5>
                    <p class="card-text">{{team.designation}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<div class="Featured-container">
    <div class="row">
        <div class="col-12">
            <div class="Featured-header">
                <h1>Featured Pets</h1>
            </div>
        </div>
    </div>

    <div class="row">
        {% for adopt in all_pets %}
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="card Featured-card Pet-card">
                <img class=" card-img-top" src="{{adopt.pet_photo.url}}" alt="Card image cap"
                    style="min-height:262px; max-height: 262px;">
                <div class="card-body">
                    <h5 class="card-title">{{adopt.pet_title}}</h5>
                    <p class="card-text">${{adopt.price}}</p>
                    <p class="card-text">{{adopt.description | safe }}</p>
                    <button data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-primary">Inquiry</button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'includes/messages.html' %}
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Contact Us
                        </h5>
                    </div>
                    <form action="{% url 'inquiry' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row center">
                            <div class="form-group col-md-6">
                                <label for="firstname">First Name</label>
                                <input type="firstname" name="first_name" class="form-control" id="firstname"
                                    placeholder="firstname" {% if user.is_authenticated %} value="{{user.first_name}}"
                                    {% else %} name="first_name" {% endif %} required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname">Last Name</label>
                                <input type="lastname" name="last_name" class="form-control" id="lastname"
                                    placeholder="lastname" {% if user.is_authenticated %} value="{{user.last_name}}" {%
                                    else %} name="last_name" {% endif %} required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" name="city" class="form-control" id="inputCity" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity">State</label>
                                <input type="text" name="state" class="form-control" id="inputCity" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity">Phone Number</label>
                                <input type="text" name="phone" class="form-control" id="inputCity" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity">Email</label>
                                <input type="text" name="email" class="form-control" id="inputCity" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"></label>
                                <select class="form-control" id="exampleFormControlSelect1" name="customer_need">
                                    <option value="I am interested in Hosting the dog">I am interested in Hosting the
                                        dog</option>
                                    <option value="I am interested in Adopting the dog">I am interested in Adopting the
                                        dog</option>
                                    <option value="I am interested in Donating for this pet">I am interested in Donating
                                        for this pet</option>
                                    <option value="I am interested in playing with the pet">I am interested in playing
                                        with the pet</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Add a Comment</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                    placeholder="Enter the name of the Dog.." rows="3" name="message"
                                    required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}